.header{
  background-color: #d30002;
  padding:  1vh 2vw;
  overflow:auto;
  z-index: 100;
}

.header h1{
  font-size: 3vh;
  color: #FFF;
}

img.header-logo_e22{
  height:6vh;
}
img.header-logo_x{
  height:6vh;
  margin-left: 1vw;
  margin-right: 1vw;
}
img.header-logo_unilu{
  height:6vh;
  margin-right: 5vw;
}

h1,h2,h3,h4{
  text-decoration: underline;
  text-overflow:
}

a.menuItem{
    transition: background-color 0.2s ease;
    font-size: 2vh;
    font-weight: bold;
    color: #FFF;
    padding: 2vh 2vw 2vh 2vw;
    text-decoration: none;
    margin: auto;
    border-radius: 2vh;
    border-color: #FFFFFFFF;
    border-style: none;
}

.menuItem:hover{
  transition: background-color 0.5s ease;
  background-color: #a00;
}

.menu{
  background-color: #d10000;
  transition: top 0.2s;
  width: 100%;
  display: flex;
  overflow-x: auto;
}

.menuspace{
  height: 6.4vh;
  display: none;
}

.inner_vertical_align_middle{
  display: inline-block;
  vertical-align: middle;
}

div.main{
    background-color: #FED;
    border-style: solid;
    border-color: #CBA;
    border-radius: 5vh;
    border-width: 0.3vw;
    height: auto;
    margin: 3vh 2.5vw;
    padding: 2vh 5vw;
}

p{
  padding-left: 1vw;
}

body{
  margin: 0px 0px 0px 0px;
  background-color: #EDC;
}

table{
  border-spacing: 0px;
}


td, th{
  padding: .5vh .5vw .5vh .5vw;
  border-style: solid;
  border-width: thin;
}
