:root {
  --bodyBackgroundColor: #EDC;
  --mainBackgroundColor: #FED;
  --mainBorderColor: #CBA;
  --mainTextColor: #000;
  --headerColor: #c20;
  --menuBackgroundColor: var(--headerColor);
  --menuTextColor: #FFF;
  --buttonBackgroundColor: var(--menuBackgroundColor);
  --buttonTextColor: var(--menuTextColor);
  --answerButtonBackgroundColor: #FFF;
  --answerButtonTextColor: #000;
}

.header{
  background-color: var(--headerColor);
  padding:  2vh 0 1vh 2vw;
  overflow:auto;
  z-index: 100;
}


img.header-logo_e22, img.header-logo_x, img.header-logo_unilu{
  height:6vh;
}
img.header-logo_x{
  margin-left: 1vw;
  margin-right: 1vw;
}

h1,h2,h3,h4{
  text-decoration: underline;
}
.menu{
  background-color: var(--menuBackgroundColor);
  transition: top 0.2s;
  width: 100%;
  display: flex;
  overflow-x: auto;
}

.menuItem, .button{
    transition: filter 0.2s ease;
    background-color: var(--menuBackgroundColor);
    font-size: 2vmin;
    font-weight: bold;
    color: var(--menuTextColor);
    padding: 2vh 2vw 2vh 2vw;
    text-decoration: none;
    margin: auto;
    border-radius: 2vh;
    min-width: fit-content;
}

.menuItem:hover{
  transition: filter 0.5s ease;
  filter: saturate(90%);
}

.button{
  background-color: var(--buttonBackgroundColor);
  color: var(--buttonTextColor);
  outline: none;
}

.menuspace{
  height: 6.4vh;
  display: none;
}

.inner_vertical_align_middle{
  display: inline-block;
  vertical-align: middle;
}

div.main{
    background-color: var(--mainBackgroundColor);
    color: var(--mainTextColor);
    border-style: solid;
    border-color: var(--mainBorderColor);
    border-radius: 5vh;
    border-width: 0.3vw;
    height: auto;
    margin: 3vh 2.5vw;
    padding: 2vh 5vw;
}

p{
  padding-left: 1vw;
}

li{
  margin: 2vh 0vh;
  font-size: 2vh;
}

form.alignRight{
  display: flex;
  justify-content: center;
}

input.button{
  border-radius: 4vh;
  font-family: "Times New Roman", Times, serif;
  cursor: pointer;
}

input.button:hover{
  transition: filter .5s ease-in-out;
  filter: saturate(90%);
}

body{
  margin: 0px 0px 0px 0px;
  background-color: var(--bodyBackgroundColor);
}

table{
  border-spacing: 0px;
}


td, th{
  padding: .5vh .5vw .5vh .5vw;
  border-style: solid;
  border-width: thin;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

@keyframes zoom {
    0% {
        transform: scale(0);
    }
    90% {
        transform: scale(1.1);
    }
    95% {
        transform: scale(1.05);
    }
    97% {
        transform: scale(1.025);
    }
    100% {
        transform: scale(1);
    }
}

.question{
  animation: fadeIn 2.5s;
  margin-bottom: 2vh;
  text-align: center;
  text-decoration: none;
}

.answerRow{
  height: 10vh;
  display: flex;
  margin: 1vh 0;
  justify-content: space-around;
}

.answer1Button, .answer2Button, .answer3Button, .answer4Button{
  background-color: var(--answerButtonBackgroundColor);
  color: var(--answerButtonTextColor);
  white-space: normal;
  height:80%;
  font-size: 3vmin;
  width: 100%;
  animation: answerHover 0.5s backwards;
}

.answer1Div, .answer2Div, .answer3Div, .answer4Div{
  transform: scale(0);
  width: 30%;
}

@keyframes answerHover{
    0% {
        transform: scale(1);
    }
        50% {
            transform: scale(1.05);
        }
    100% {
        transform: scale(1.1);
    }
}

.answer1Button:hover, .answer2Button:hover, .answer3Button:hover, .answer4Button:hover{
  animation: answerHover 0.5s forwards;
  cursor: pointer;
}
.answer1Div{
    animation: 1s 2s zoom forwards ;
}
.answer2Div{
    animation: 1s 2.5s zoom forwards ;
}
.answer3Div{
    animation: 1s 3s zoom forwards ;
}
.answer4Div{
    animation: 1s 3.5s zoom forwards ;
}
